.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #6c757d;
  background-color: #6c757d;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #6c757d;
  background-color: #fff;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.1rem rgba(91, 113, 136, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #6c757d;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #fff;
  border-color: #717a85;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #6c757d;
  transform: translateX(0.75rem);
}

.btn-secondary {
  white-space: wrap;
  padding: 0.5rem;
}

.filter-group {
  display: flex;
  justify-content: stretch;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #586066;
  border-radius: 0.2rem;
  width: 0;
}

.select {
  height: inherit;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-color: #586066;
  background-color: #3a3f44;
  color: #fff;
  margin-left: 5px;
}
